#toptext {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  #toptext {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  #resumedoc {
    display: none;
  }
}
